p
{
    margin-top: 0;
    margin-bottom: 0;
}

.document > p + p 
{
    text-indent: 1em;
}
p > *
{
    text-indent: 0;
}


.caret
{
    display: inline-block;
    height: 1em;
    width: 1px;
    background-color: black;
    vertical-align: text-top;
}

.root
{
}
.document
{
    max-width: 42em;
    margin: auto;
}
.title
{
    display:block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.author
{
    display: block;
    text-align: center;
    font-size: 1.5em;
}
.abstract::before
{
    display: block;
    content: 'ABSTRACT';
    font-size: 1.2em;
    font-weight: bold;
}
.abstract
{
    max-width: 36em;
    margin: auto;
}

.section
{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.32em;
}
.subsection
{
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.16em;
}
.subsubsection
{
    display: block;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.08em;
}

.figure, .table
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border: solid 1pt black;
}
.tabular
{
    background-color: #ececec;
}
.caption
{
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}
.text, .textrm
{
    font-style: initial;
}
.emph
{
    font-style: italic;
}
.textbf
{
    font-weight: bold;
}


.cite::before
{
    content: '(';
}
.cite::after
{
    content: ')';
}
.cite
{
    background-color: #e8e8e8;
}

.label
{
    background-color: #efc;
}

.displaymath, .short-displaymath, .equation, .align
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.math, .short-math
{
    background-color: #f8f8ff;
}
.cases::before
{
    position: absolute;
    content: '{';
    font-size: 2.3em;
    left: 0em;
}
.cases
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
}
.floor::before
{
    content: "\230A"
}
.floor::after
{
    content: "\230B"
}
.ceil::before
{
    content: "\2308"
}
.ceil::after
{
    content: "\2309"
}


.comment::before
{
    content: '%';
}
.comment
{
    color: #ccf;
}

.argument::before
{
    content: '#';
}
.argument
{
    color: #34f;
}
.curly::before
{
    color: #f08;
    content: '{';
}
.curly
{
    color: black;
    background-color: rgba(255, 0, 128, 0.05)
}
.curly::after
{
    color: #f08;
    content: '}'
}
.square::before
{
    color: #f40;
    content: '['
}
.square
{
    color: black;
    background-color: rgba(255, 64, 0, 0.05)
}
.square::after
{
    color: #f40;
    content: ']'
}
.command::before
{
    content: '\\';
}
.command
{
    color: #0d0;
}
[class^='expanded']
{
    background-color: rgba(255, 64, 0, 0.05);
}
.overline
{
    text-decoration: overline;
}
.mbox
{
    display: inline-block;
    background-color: inherit;
}
.operatorname::after
{
    content: ' ';
}
.operatorname
{
    font-style: normal;
}
.mathbf, .boldsymbol
{
    font-style: normal;
    font-weight: bold;
}
.frac
{
    display: inline-block;
    vertical-align: middle;
    border-collapse: collapse;
}
.numerator
{
    display: block;
    font-size: 0.8em;
}
.denominator
{
    display: block;
    font-size: 0.8em;
}
hr
{
    margin-top: 0pt;
    margin-bottom: 0pt;
    border: none;
    height: 0.75pt;
    background-color: black;
}

.left
{
    text-align: left;
}
.right
{
    text-align: right;
}
.ignored
{
    display: none;
}